<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EclipsePOS.WPF.SystemManager.Data.Properties.Settings.possiteConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=possite;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EclipsePOS.WPF.SystemManager.Data.Properties.Settings.eclipseposdataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\eclipseposdata.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
