<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EclipsePos.Apps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EclipsePos.Apps.Properties.Settings>
            <setting name="PromptForReceipt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PCKeyBoard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HidMsr" serializeAs="String">
                <value>True</value>
            </setting>
        </EclipsePos.Apps.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
